services:
  rabbitmq:
    image: rabbitmq:3.11-management
    hostname: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  mongodb:
    image: mongo:7.0
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  app:
    build: .
    image: tesouro-analytics:latest
    container_name: app
    depends_on:
      - rabbitmq
      - mongodb
    environment:
      - CELERY_BROKER_URL=pyamqp://guest@rabbitmq//
      - MONGO_URI=mongodb://mongo:27017/tesourodb
      - CSV_URL=https://www.tesourotransparente.gov.br/ckan/dataset/f0468ecc-ae97-4287-89c2-6d8139fb4343/resource/e5f90e3a-8f8d-4895-9c56-4bb2f7877920/download/vendastesourodireto.csv
    command: python app/main.py
    ports:
      - "5000:5000"

  worker:
    build: .
    image: tesouro-analytics:latest
    container_name: worker
    depends_on:
      - rabbitmq
      - mongodb
    environment:
      - CELERY_BROKER_URL=pyamqp://guest@rabbitmq//
      - MONGO_URI=mongodb://mongo:27017/tesourodb
    command: >
      sh -c "celery -A app.celery_app worker --loglevel=info"

  beat:
    build: .
    image: tesouro-analytics:latest
    container_name: beat
    depends_on:
      - rabbitmq
      - mongodb
    environment:
      - CELERY_BROKER_URL=pyamqp://guest@rabbitmq//
      - MONGO_URI=mongodb://mongo:27017/tesourodb
    command: >
      sh -c "celery -A app.celery_app beat --loglevel=info"

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    depends_on:
      - app

  grafana:
    image: grafana/grafana:11.2.0
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - grafana_data:/var/lib/grafana

volumes:
  mongo_data:
  grafana_data:
